LOCAL_PROJECT/MDM/datamodel/model1_0.1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
<xsd:element name="emps">
<xsd:complexType>
<xsd:all>
<xsd:element name="empsId" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="Names" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
<xsd:unique name="emps">
<xsd:selector xpath="."/>
<xsd:field xpath="empsId"/>
</xsd:unique>
</xsd:element>
    <xsd:simpleType name="AUTO_INCREMENT">
<xsd:restriction base="xsd:string"/>
</xsd:simpleType>
</xsd:schema>
